{% extends 'base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
  <h1>{{ movie.title }}</h1>
    <p>Release Date: {{ movie.release_date }}</p>
    <p>Duration: {{ movie.duration }}</p>
    <p>Genres:
      {% for genre in movie.genre.all %}
        {{ genre.name }}
          {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <h2>Available Screenings</h2>
    <ul>
      {% for screening in movie.screening_set.all %}
        <li>
          <a href="{% url 'booking' screening.id %}">{{ screening.time }}</a> on {{ screening.date }} in {{ screening.theater_room.room_name }}
        </li>
      {% endfor %}
    </ul>
{% endblock %}